<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Roast 2022 
            <i class="fa-solid fa-fire"></i> 
            <i class="fa-solid fa-fire-flame"></i>
            <i class="fa-solid fa-fire-flame-curved"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
        </span>
    </div>
</footer>